.footer{
    background-color: #D9FF00;
    display: flex;
    justify-content: space-between; /* Элементы распределены равномерно */
    align-items: center;            /* Центрирование по вертикали */
    padding: 10px 20px;            /* Внутренний отступ контейнера */
}

.socset{
    display: flex;
    justify-content: space-between; /* Расставляет элементы равномерно по строке */
    align-items: center; /* Центрирование по вертикали */
    margin-left: auto;
    margin-right: 30px;
    gap: 40px;
}

.soc{

}